<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyTemplet</title>

    <!--==================== [jquery] =======================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!--==================== [Font Awesome 6.5.1] ==========================-->
    <link href="~/font/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!--==================== [Bootstrap 5.3] ===============================-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />

    <!--==================== [Nest Admin Templet] ======================-->
    <link rel="stylesheet" href="~/nestadmintemplet/css/neststyle.css" />

</head>

<body class="text-sm layout-fixed sidebar-mini layout-navbar-fixed">
    <div class="wrapper">

        <!--==============================================================-->
        <!--==================== [Header (Nav)] ==========================-->
        <!--==============================================================-->
        @await Html.PartialAsync("Components/_Nav")

        <!--==============================================================-->
        <!--==================== [Sidebar] ===============================-->
        <!--==============================================================-->
        @await Html.PartialAsync("Components/_Sidebar")

        <!--==============================================================-->
        <!--==================== [Content] ===============================-->
        <!--==============================================================-->
        <div class="content-wrapper pading25 pt-4">
            <div class="content pading25 rounded-2">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h3 class="m-0">@ViewData["Title"]</h3>
                            </div>
                            <div class="col-sm-6">
                                <div class="float-sm-end" id="btnGen">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>

        <!--==============================================================-->
        <!--==================== [footer] ===============================-->
        <!--==============================================================-->
      


    </div>


    <!--=============================================================-->
    <!--==================== [script] ===============================-->
    <!--=============================================================-->
    <!--==================== [Bootstrap 5.3] ===============================-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--==================== [Font Awesome 6.5.1] ==========================-->
    <script src="~/font/fortawesome/fontawesome-free/js/all.min.js"></script>
    <!--==================== [popper] ==========================-->
    <script src="~/lib/popper.js/umd/popper.min.js"></script>


    <script>

        $("#btnGen").html(`<button class="btn btn-info btn-loader"> Add New </button>`);


        $(".btn-loader").on("click", function () {
            var $btn = $(this);
            var btnText = $btn.text();
            $btn.addClass("disabled");
            $btn.html('<i class="spinner-border mx-2" style="width: 1rem; height: 1rem;"></i>' + btnText);
            RemoveBtnLoader($btn, btnText);
        });

        $(".btn-loader-Server").on("click", function () {
            let $btn = $(this);
            var btnData = addBtnLoader($btn);         
            RemoveBtnLoader(btnData.btnRef, btnData.oldbtnText);
        });

        function addBtnLoader(btnRef) {
            let oldbtnText = btnRef.text();
            btnRef.addClass("disabled");
            btnRef.html('<i class="spinner-border mx-2" style="width: 1rem; height: 1rem;"></i>' + oldbtnText);
            return { btnRef, oldbtnText }
        }

        function RemoveBtnLoader(btnRef, oldbtnText) {
            setTimeout(function () {
                btnRef.removeClass("disabled");
                btnRef.html(oldbtnText);
            }, 500);
        }

        $('#darkmood').change(function () {
            if ($(this).is(':checked')) {

                $('.sidebar').removeClass('os-theme-dark');
                $('.main-sidebar').removeClass('sidebar-light-success');
                $('nav.main-header').removeClass('navbar-white');
                $('nav.main-header').removeClass('navbar-light');

                $('body').addClass('dark-mode');
                $('.main-sidebar').addClass('sidebar-dark-success');
                $('.sidebar').addClass('os-theme-light');
                $('nav.main-header').addClass('os-theme-light');

                $('nav.main-header').addClass('navbar-black');
                $('nav.main-header').addClass('navbar-dark');

  
            } else {
      
                $('body').removeClass('dark-mode');
                $('.main-sidebar').removeClass('sidebar-dark-success');
                $('.sidebar').removeClass('os-theme-light');
                $('nav.main-header').removeClass('navbar-black');
                $('nav.main-header').removeClass('navbar-dark');

                $('nav.main-header').addClass('navbar-white');
                $('nav.main-header').addClass('navbar-light');
                $('.main-sidebar').addClass('sidebar-light-success');         
                $('.sidebar').addClass('os-theme-dark');
            }
        });


        // function toggleSidebarClosedClass() {
        //     if ($(window).width() < 768 && $('body').hasClass('sidebar-open')) {
        //         $('body').addClass('sidebar-closed');
        //         $('body').addClass('sidebar-collapse');

        //         $('body').removeClass('sidebar-open');
        //     } else {
        //         $('body').removeClass('sidebar-closed');
        //         $('body').removeClass('sidebar-collapse');

        //         $('body').addClass('sidebar-open');

        //     }
        // }

        // $(window).resize(function () {
        //     toggleSidebarClosedClass();
        // });


        // // Event listener for the pushmenu button
        // $('[data-widget="pushmenu"]').on('click', function () {
        //     toggleSidebarClosedClass();    
        // });
  

    </script>
</body>
</html>
