<!DOCTYPE html>
<html lang="en"  data-bs-theme="light"  >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]-Nest-HR</title>

    <!--==================== [jquery] ======================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!--==================== [Font Awesome 6.5.1] ==========================-->
    <link href="~/font/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!--==================== [Bootstrap 5.3] ===============================-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
   @*  <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" /> *@

    <!--==================== [Nest Admin Templet] =========================-->
    <link href="~/nestadmintemplet/css/nesttemplet.css" rel="stylesheet" />
    <link href="~/nestadmintemplet/css/nestlayout.css" rel="stylesheet" />
    <link href="~/nestadmintemplet/css/nesttheme.css" rel="stylesheet" />


</head>

<body>
    <div class="wrapper">

        <!--==============================================================-->
        <!--==================== [Header (Nav)] ==========================-->
        <!--==============================================================-->
        @await Html.PartialAsync("Components/_Nav")

        <!--==============================================================-->
        <!--==================== [Sidebar] ===============================-->
        <!--==============================================================-->
        @await Html.PartialAsync("Components/_Sidebar")

        <!--==============================================================-->
        <!--==================== [Content] ===============================-->
        <!--==============================================================-->
        <div class="content-wrapper pt-4">
            <div class="content rounded-2">               
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>

        <!--==============================================================-->
        <!--==================== [footer] ================================-->
        <!--==============================================================-->

    </div>

    <!--===================================================================-->
    <!--==================== [Bootstrap 5.3] ==============================-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--==================== [Font Awesome 6.5.1] =========================-->
    <script src="~/font/fortawesome/fontawesome-free/js/all.min.js"></script>

    <!--==================== [popper] ======================================-->
    <script src="~/lib/popper.js/umd/popper.min.js"></script>

    <!--==================== [Nest Admin Templet] =========================-->
    <script src="~/nestadmintemplet/js/nestscript.js"></script>

    <!--==================== [Page script] ================================-->
    <script>

        // $("#btnGen").html(`<button class="btn btn-info btn-loader"> Add New </button>`);

    

    </script>
</body>
</html>
