
#sidebar {
    transition: all 0.5s;
}

.moboleSaid{
    display:none;
}

.NestSaidBar {
    width: 250px;
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    transition: width 0.5s;
    overflow-x: hidden;
    z-index: 2000;
}


.nav-link {
    width: 100%;
    transition: width 0.5s ease-out 0.2s !important;
}


[dir="rtl"] .NestSaidBar {
    right: 0;
}


.hideSidebar {
    width: 73px;
    transition: width 0.5s ease-out 0.2s !important;
}

    .hideSidebar .active {
        width: 3rem;
        transition: all 1s;
    }

    .hideSidebar .nav-link {
        white-space: nowrap;
    }

.nav-link span.text {
    opacity: 1;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
    visibility: visible; 
}

.hideSidebar .nav-link span.text {
    opacity: 0;
    visibility: hidden; 
}





.Nest-Logo {
    height: 2.2rem;
    text-decoration: none;
    color: black;
    width: 14rem;
}

    .Nest-Logo img {
        max-width: 4rem;
        width: 4rem;
        max-height: 4rem;
        height: 59px !important;
        margin-left: -10px !important;
    }

@media only screen and (max-width: 768px) {
    .NestSaidBar {
        left: -250px;
    }

    [dir="rtl"] .NestSaidBar {
        right: -250px;
    }

    .hideSidebar {
        left: 0;
        transition: left 0.5s ease-out 0.2s !important;
        width: 250px;
    }

        .hideSidebar .active {
            width: 100%;
            transition: all 1s;
        }

        .hideSidebar .nav-link span.text {
            opacity: 1;
            transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
            visibility: visible;
        }

    .moboleSaid {
        display: block;
    }
}