
* {
    transition: background 0.5s ease-out 0.2s;
}

nav, .content {
    transition: padding 0.5s ease-out 0.2s;
    
}
#sidebar {
    transition: width 0.5s ease-out 0.2s !important;
}

.nowrap {
    white-space: nowrap;
}
