
<link href="~/nestadmintemplet/css/_sidebars.css" rel="stylesheet" />
<style>




</style>

<aside class="d-flex flex-column flex-shrink-0 p-3 text-bg-light bg-light NestSaidBar" id="sidebar">
    <a href="/home/index" class="col-10 Nest-Logo nowrap">
        <img src="/assetsnest/logo/HRLogo2.png"
             alt="NEST HR Logo"
             class="brand-image img-circle" />
        <span class="brand-text font-weight-light" style="font-family:Perpetua Titling MT;font-size:2rem">NEST</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active nowrap"
               aria-current="page"
               data-bs-toggle="collapse"
               data-bs-target=".home-collapse"
               aria-expanded="false">
                <span class="fa fa-home"></span>
                <span class="text"> aaaaaaaaaaaaaaa</span>
                <span class="arrow float-end text">
                    <i class="fa fa-chevron-left"></i>
                </span>
            </a>
            <div class="collapse home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                        <a href="#" class="nav-link ">
                            <span class="fa fa-home"></span>
                            <span class="text"> Overview</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link ">
                            <span class="fa fa-home "></span>
                            <span class="text"> Updates</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link ">
                            <span class="fa fa-home "></span>
                            <span class="text"> Reports</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <!-- Add more menu items here -->
    </ul>
    <hr />
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center  text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2" />
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</aside>



<script>

    let hoveSaidBar = false;

    $(document).ready(function () {
        const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(tooltipTriggerEl => {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })



    });

    $(document).ready(function () {
        // Toggle sidebar
        $("#sidebarToggle").click(function () {
            $("#sidebar").toggleClass("active");
        });

        // Hide sidebar when clicking outside of it
        $(document).click(function (event) {
            if (!$(event.target).closest('#sidebar').length) {
                if ($('#sidebar').hasClass('active')) {
                    $('#sidebar').removeClass('active');
                }
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        // Add 'active' class to nav item when clicked
        let navLinks = document.querySelectorAll('.nav-link');
        navLinks.forEach(function (navLink) {
            navLink.addEventListener('click', function () {
                navLinks.forEach(function (link) {
                    link.classList.remove('active');
                });
                this.classList.add('active');
            });
        });

        // Add 'active' class to nav item based on current URL
        let currentUrl = window.location.href;
        navLinks.forEach(function (navLink) {
            if (navLink.getAttribute('href') === currentUrl) {
                navLink.classList.add('active');
            }
        });
    });


    $("#sidebarToggle").on("click", function () {
        $("#sidebar").toggleClass("hideSidebar");
        hoveSaidBar = $("#sidebar").hasClass("hideSidebar");
    });


    sidebar.addEventListener('mouseover', function () {
        if (hoveSaidBar)
            this.classList.remove('hideSidebar');
    });

    sidebar.addEventListener('mouseout', function () {
        if (hoveSaidBar)
            this.classList.add('hideSidebar');
    });



    $(document).ready(function () {
        $('.collapse').on('shown.bs.collapse', function () {
            $(this).parent().find('.arrow i').css('transform', 'rotate(270deg)');
        }).on('hidden.bs.collapse', function () {
            $(this).parent().find('.arrow i').css('transform', 'rotate(0deg)');
        });
    });





</script>